p {
  font-family: Lato;
}

.btn_tile--row {
  height: var(--tile-size);
}

.btn_tile {
  height: var(--tile-size);
  width: var(--tile-size);
  contain: content;
}

.btn_tile--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn_tile--warn {
  color: red;
}

.btn--util {
  margin: 10px 0;
  display: block;
}

.btn_tile--default {
  background-color: var(--bgc-default);
}

.btn_tile--flagged {
  background-color: var(--bgc-flagged);
}

.btn_tile--revealed {
  background-color: var(--bgc-revealed);
}

.btn_tile--boom {
  background-color: var(--bgc-boom);
}
