<h2>Minesweeper</h2>
<div *ngFor="let row of board.board; index as i">
  <span *ngFor="let tile of row; index as j">
    <button
      [disabled]="tile.disabled"
      class="btn_tile"
      (click)="selectTile(i, j)"
    >
      <span class="btn_tile--content" [ngClass]="{'btn_tile--warn': tile.isMine && tile.revealed}">{{ tile.displayValue }}</span>
    </button>
  </span>
</div>

<button
  [ngClass]="{
    'mode_btn--flag': flagInputMode,
    'mode_btn--boom': !flagInputMode
  }"
  (click)="toggleInputMode()"
>
  Input Mode: {{ flagInputMode ? 'F' : 'X' }}
</button>

<p>Score: {{ board.score }}</p>
<p>High Score: {{ highScore }}</p>
<p>Total Mines: {{ board.realMineCount }}</p>
<p>Percent Mines: %{{ board.percentMined }}</p>
<!-- FOR DEBUGGING -->
<!-- <p>Percent Mines: %{{ board.percentMined }} (Max allowed: %{{maxMinePercentage * 100}})</p> -->
<button class="btn--util" (click)="reset()">Reset</button>
