<h2>Minesweeper</h2>
<button class="btn--util" (click)="reset()">Reset</button>
<div class="btn_tile--row" *ngFor="let row of board.board; index as i">
  <button
    *ngFor="let tile of row; index as j"
    [disabled]="tile.disabled"
    class="btn_tile"
    (onEngageTile)="selectTile($event)"
    appModeToggle
    [position]="tile.location"
    oncontextmenu="return false;"
  >
    <span
      class="btn_tile--content"
      [ngClass]="{ 'btn_tile--warn': tile.isMine && tile.revealed }"
      >{{ tile.displayValue }}</span
    >
  </button>
</div>

<!-- <button
  [ngClass]="{
    'mode_btn--flag': flagInputMode,
    'mode_btn--boom': !flagInputMode
  }"
  (click)="toggleInputMode()"
>
  Input Mode: {{ flagInputMode ? 'F' : 'X' }}
</button> -->

<p>Score: {{ board.score }}</p>
<p>High Score: {{ highScore }}</p>
<p>Total Mines: {{ board.realMineCount }}</p>
<p>Percent Mines: %{{ board.percentMined }}</p>
<!-- FOR DEBUGGING -->
<!-- <p>Percent Mines: %{{ board.percentMined }} (Max allowed: %{{maxMinePercentage * 100}})</p> -->
